html, body {
    margin: 500;
    padding: 100;
    /* background: linear-gradient(black, rgb(255, 11, 11)); */
  }
  canvas{
    margin-left: 300;
    margin-right: 300;
    margin-top: 300px;
    margin-bottom: 300px;
    border: 2px solid black;
  }
  
  